---
---

html {
  background-color: black;
}

body {
  background: url("{{ "/img/bg-texture.jpg" | relative_url }}") ;
  max-width: 1580px;
  margin: 0 auto;
}

// Utility

.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// Typography

p, ul, li, a {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

p a {
  border-bottom: 1px solid currentColor;
}

a:hover, a:active {
  color: #c0dd4a;
}

h1, h2, h3 {
  color: #c0dd4a;
  font-family: 'Bungee', cursive;
}

h3 {
  font-size: 25px;
}

.button {
  color: #1A1A1A;
  background-color: white;
  border-radius: 0;
  margin: 10px 10px 10px 0;
}

// Nav

nav ul li {
  display: inline;
}

.social ul li {
  display: inline;
}

nav, .social {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

nav {
  margin-bottom: 0;
}

.social {
  border-bottom: white 1px solid;
  margin-bottom: 70px;
}

nav ul, .social ul {
  list-style-type: none;
  margin-bottom: 10px;
}

nav ul li, .social ul li {
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

nav ul li {
  font-size: 20px;
}

.social ul li {
  font-size: 25px;
}

@media (min-width: 685px) {
  nav {
    border-bottom: white 1px solid;
  }

  .social {
    border-bottom: none;
  }

  nav {
    margin-bottom: 20px;
  }

  .social {
    margin-bottom: 70px;
  }

  nav ul, .social ul {
    margin-bottom: 25px;
  }

  nav ul li, .social ul li {
    padding-right: 25px;
    padding-left: 25px;
  }

  nav ul li {
    display: inline;
    font-size: 25px;
  }

  .social ul li {
    font-size: 30px;
  }
}

// Intro Layout

.intro {
  background-image: url("{{ "/img/intro-pic.jpg" | relative_url }}");
  background-size: cover;
  background-position: center;
  margin: 0 auto 60px;
  padding: 30px 20px 100px;
  max-width: 100%;
  text-align: center;
}

.intro-content {
  max-width: 400px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.logo {
  display:       block;
  margin:        0 auto 20px auto;
  max-width:     400px;
}

@media (min-width: 685px) {

  .intro {
    padding-top: 70px;
  }

  .intro-content {
    max-width: 100%;
  }

  .logo {
    margin-bottom: 40px;
  }
}

.intro p {
  max-width: 500px;
  margin: 0 auto 70px auto;
  font-size: 18px;
}

.intro-buttons {
  display: block;
  margin: 0 auto 0 auto;
}

.intro-buttons .button {
  margin: 0 10px 20px 10px;
  font-size: 20px;
}

// Home Columns

.home-columns .column {
  margin-bottom: 50px;
  padding: 40px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-columns img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.home-columns a {
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
}

// About layout

.about-column {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.about-column .about-column-image {
  padding: 45px 0px;
}

.about-column .about-column-content {
  padding: 40px;
}

.about-column .button-wrapper {
  text-align: center;
}

@media (min-width: 685px) {
  .about-column .about-column-image {
    padding: 45px 0px 45px 30px;
  }

  .about-column .button-wrapper {
    text-align: left;
  }
}

// Footer Layout

footer {
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
