---
title: Home
layout: default
---

<header class="intro darken-pseudo">
  <div class="intro-content">
    <img class="logo" src="{{ '/img/logo.png' | relative_url }}">
    {% include nav.html %}
    {% include social.html %}

    <div class="intro-text">
      <h1>Making Music Happen</h1>
      <p>We organize shows and provide resources for artists in the Magic Valley area. Whether you're a music fan looking to explore the local scene, or an artist seeking to join the growing culture, we can show you where to go.</p>
      <div class="intro-buttons">
        <a class="button" href="https://www.facebook.com/neighborhoodsounds/events/">Go to a Show</a>
        <a class="button" onclick="el.scrollIntoView();">Find Out More</a>
      </div>
    </div>
  </div>
</header>

<section id="about-column" class="container about-column">
  <div class="row">
    <div class="one-third column about-column-image">
      <img src="{{ '/img/about-column-image.jpg' | relative_url }}">
    </div>
    <div class="two-thirds column about-column-content">
      <h3>About Neighborhood Sounds</h3>
      <p>See. We take the corner of the brush and let it play back-and-forth. And that's when it becomes fun - you don't have to spend your time thinking about what's happening - you just let it happen. The little tiny Tim easels will let you down. Now then, let's play. What the devil. </p>
      <p>Work on one thing at a time. Don't get carried away - we have plenty of time. Use what happens naturally, don't fight it. They say everything looks better with odd numbers of things. But sometimes I put even numbers—just to upset the critics. Get away from those little Christmas tree things we used to make in school. Nothing's gonna make your husband or wife madder than coming home and having a snow-covered dinner. </p>
      <a class="button" href="mailto:contact@neighborhoodsounds.com"><div><i class="fas fa-envelope fa-fw" ></i> Email Us</div></a>
      <a class="button" href="https://www.facebook.com/neighborhoodsounds/"><div><i class="fab fa-facebook fa-fw" ></i> Message Us</div></a>
      <a class="button" href="https://twitter.com/neibohoodsounds"><div><i class="fab fa-twitter fa-fw" ></i> Tweet Us</div></a>
    </div>
  </div>
</section>
