---
title: Home
layout: default
image: /img/intro-pic.jpg
---

<header class="intro darken-pseudo">
  <div class="intro-content">
    <img class="logo" src="{{ '/img/logo.png' | relative_url }}">
    {% include nav.html %}
    {% include social.html %}

    <div class="intro-text">
      <h1>Making Music Happen</h1>
      <p>We organize shows and provide resources for artists in the Magic Valley area. Whether you're a music fan looking to explore the local scene, or an artist seeking to join the growing culture, we can show you where to go.</p>
      <div class="intro-buttons">
        <a class="button" href="https://www.facebook.com/neighborhoodsounds/events/">Go to a Show</a>
        <a class="button" onclick="el.scrollIntoView();">Find Out More</a>
      </div>
    </div>
  </div>
</header>

<section id="about-column" class="container about-column">
  <div class="row">
    <div class="one-third column about-column-image">
      <img src="{{ '/img/about-column-image.jpg' | relative_url }}">
    </div>
    <div class="two-thirds column about-column-content">
      <h3>About Neighborhood Sounds</h3>
      <p>Neighborhood Sounds is a project based out of Twin Falls, Idaho. We're a group of musicians &amp; artists that have grown up in the area, and have personally observed the curious stagnation of our musicial culture, especially when we compared it to cities mere hours away. Our goal is to provide our pooled resources &amp; connections to provide musicians with the tools they need to create their work. With a primary focus on promoting &amp; organizing concert events in downtown &amp; local venues, we also are focused on helping musicians meet each other to form new groups, and to connect artists with producers, promoters, &amp; opportunities to record, sell, &amp; spread their work.</p>
      <p>If you're a music fan in the Magic Valley, check out the <a href="https://facebook.com/neighborhoodsounds/events">shows</a> we're helping to organize &amp; promote. If an artist looking to find the next step in pursuing your craft, contact us via the methods listed below.</p>
      <div class="button-wrapper">
        <a class="button" href="mailto:contact@neighborhoodsounds.com"><div><i class="fas fa-envelope fa-fw" ></i> Email Us</div></a>
        <a class="button" href="https://www.facebook.com/neighborhoodsounds/"><div><i class="fab fa-facebook fa-fw" ></i> Message Us</div></a>
        <a class="button" href="https://twitter.com/neibohoodsounds"><div><i class="fab fa-twitter fa-fw" ></i> Tweet Us</div></a>
      </div>
    </div>
  </div>
</section>
