<section class="container home-columns">
  <div class="row">
    <div class="one-third column">
      <h3>Shows</h3>
      <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
      <img src="{{ '/img/face1.jpg' | relative_url }}">
      <a href="/">See All Shows</a>
    </div>
    <div class="one-third column">
      <h3>Concert Series</h3>
      <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
      <img src="{{ '/img/face2.jpg' | relative_url }}">
      <a href="/">See The Series</a>
    </div>
    <div class="one-third column">
      <h3>Blog</h3>
      <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
      <img src="{{ '/img/face3.jpg' | relative_url }}">
      <a href="/">Read More</a>
    </div>
  </div>
</section>
