<div class="social">
  <ul>
    <li>
      <a href="https://www.facebook.com/neighborhoodsounds/">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle"></i>
          <i class="fab fa-facebook-f" data-fa-transform="shrink-6" style="color:black"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/neibohoodsounds">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle"></i>
          <i class="fab fa-twitter" data-fa-transform="shrink-6" style="color:black"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/neighborhoodsounds/">
        <span class="fa-layers fa-fw">
          <i class="fas fa-circle"></i>
          <i class="fab fa-instagram" data-fa-transform="shrink-6" style="color:black"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
