<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/skeleton.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>{{ page.title }} | {{ site.title }}</title>
    {% seo title=false %}
  </head>
  <body>
    {{ content }}
    <footer>
      <p>Copyright &copy; <script>var today = new Date();var year = today.getFullYear();document.write(year);</script> Neighborhood Sounds</p>
    </footer>
  </body>
  <script>var el = document.getElementById("about-column")</script>
</html>
