<!DOCTYPE html>
<html>
  {% seo %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Hka8oNAX51XY-SN7OaraTQlMOzUX38QmY7c0OW8lDYc" />
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/skeleton.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
